.card {
  border: 3px solid orange;
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo {
    margin-bottom: 15px;
  }

  .name {
    color: indigo;
    font-size: 20px;
  }

  .race {
    color: orange;
    font-size: 16px;
  }

  .traits, .desires {
    margin: 10px 5px;
    font-style: italic;
    text-align: center;
  }

  .parameter {
    font-size: 14px;
    font-family: sans-serif;

    display: grid;
    grid-template-columns: 80px 30px 30px;
  }

  .bonus {
    color: red;
  }
  //.health {
  //  color: orangered;
  //}
  //
  //.attack {
  //  color: brown;
  //}
  //
  //.strength {
  //  color: darkslategray;
  //}
  //
  //.armor {
  //  color: steelblue;
  //}
  //
  //.speed {
  //  color: green;
  //}
  //
  //.agility {
  //  color: purple;
  //}
  //
  //.luck {
  //  color: gold;
  //}
  //
  //.wisdom {
  //  color: crimson;
  //}
  //
  //.intelligence {
  //  color: darkcyan;
  //}
  //
  //.charisma {
  //  color: deeppink;
  //}
  //
  //.amount {
  //  color: dimgray;
  //}

}
