.container {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  .attack {
    display: flex;
    flex-direction: column;
  }

  .name1 {
    color: brown;
  }
  .name2 {
    color: darkcyan;
  }
}
